/* background color and font styles */
body {
    background-color: #141497;
    font-family: sans-serif;
}

/* style of the header ..color, text, padding etc.. */
header {
    background-color: none;
    color: #000405;
    padding: 10px;
    
}

/* center the question container and footer */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */
footer {
    text-align: center;
}


/* Target game title    */
#game-title {
    font-size: 40px;
    color: rgb(246, 245, 241);
    text-align: center;
    font-family: "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

/* Taget game background */
.game-background {
    background-image: url('background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*Target question container */
#question-container {
    background-color: white;
    width: 400px;
    height: 200px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

/* Target question continer */
.question-container {
    display: none;
}

/* Target question text */
#question-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

/* Style the answer list */
#answer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the answers */
#answer-list li button {
    display: block;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #81d8e8;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* style the answer buttons on hover*/
#answer-list li button:hover {
    background-color: #3498db;
    color: #fff;
}

/* style the score elemnt in the footer*/
footer #score {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-color: white;
}

footer p {
    color: white;
}

#button-container {
    display: block;
    text-align: center;
}

#start-button {
    display: block;
    color: black(251, 251, 252);
    padding: 10px;
    margin: 10px;
    border: 1px solid black transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#feedback {
    color: white;
}

/* CSS for music controls */
#music-controls {
    text-align:center;
    margin-top: 20px;
    
}

#play-music,
#pause-music,
#stop-music {
  margin-right: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* CSS style for for volume and labels */
.volume-container {
    margin-top: 20px;
    text-align: center;
    
}

.volume-container label {
    display: block;
    color: white;
}

#score-container {
    text-align: center;
    margin-top: 20px;
}









